Options -Indexes
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]
<FilesMatch "\.(sql|log|env)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
